body {
    margin: 20px;
}

.sudoku-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.non-affected-box {
    border: 1px solid black;
    background: white;
}

.affected-box {
    border: 1px solid black;
    background: violet;
}

table {
    border-collapse: collapse;
    border: 3px solid black;
}

.box {
    font-size: 1em;
    border: 1px solid black;
    font-weight: bold;
    text-align: center;
    height: 3vw;
    width: 3vw;
}

/* Thicker lines to divide 3x3 sudoku boxes*/
td:nth-child(3n) {
    border-right: 3px solid black;
}

tr:nth-child(3n) {
    border-bottom: 3px solid black;
}

@media only screen and (max-width: 1000px) {
    .box {
        height: 5vw;
        width: 5vw;
    }
}

@media only screen and (max-width: 525px) {
    .box {
        height: 10vw;
        width: 10vw;
    }
}

@media only screen and (max-width: 700px) {
    .box {
        height: 8vw;
        width: 8vw;
    }
}