table {
    table-layout: fixed;
    border-collapse: collapse;
}

input {
    height: 34px;
    width: 34px;
    border: none;
}

td {
    border: 1px solid black;
}

.sudoku {
    display: flex;
    flex-direction: row;
}

.box {
    height: 34px;
    width: 34px;
    border: 1px solid black;
    background: white;
}